---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
---
<rss version="2.0">
    <channel>
        <title>{{ site.site_title }}</title>
        <description>{{ site.description }}</description>
        {#- Points at /en/, where `rosey build` relocates the default language.
            Covers the default language only. -#}
        <link>{{ site.base_url }}{{ i18n.default_locale }}/</link>
        <language>{{ i18n.default_locale }}</language>
        {%- for post in collections.posts %}
            <item>
                <title>{{ post.data.title }}</title>
                <link>{{ site.base_url }}{{ i18n.default_locale }}{{ post.url }}</link>
                <pubDate>{{ post.date }}</pubDate>
            </item>
        {%- endfor %}
    </channel>
</rss>